*{
  margin: 0;
  padding: 0;
}


/* navbar */

.nav{
  display: flex;
  justify-content: space-between;
  background-image: url(images/blue_bg.png);
  width: 100%;
  height: 100%;

}



.nav-left{
  display: flex;
  align-items: center;
  padding: 20px;
}

.nav-left .logo{
  width: 120px;
}
.nav-right{
  display: flex;
  justify-content: center;
  padding: 45px;
  
}

.nav-right button{
  padding: 5px;
  border-radius: 30px;
  background-color: #fff;
  color: #0a0000;
  width: 80px;
  border: none;
}
.nav-right button:focus{
  border: none;
}

.nav-left a{
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
}

.nav-left a{
  border-bottom-style: 2px solid red;
}

.under:hover{
  border-bottom: 2px solid red;

}


/* start container */
.container{
  display: flex;
  justify-content: space-around;
  background-image: url(images/blue_bg.png);
  width: 100%;
  height: 500px;
}
.div1{
  width: 40%;
  padding: 200px 0;
  margin-left: 100px;
}
.div1 h1{
  margin: 20px 0;
}
.div1 spam{
  color: rebeccapurple;
}

.div2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 60%;
  overflow: hidden;
}

.img1{
  position: absolute;
  width: 700px;
  top: 10px;
}

.img2{
  position: absolute;
  bottom: 0px;
  width: 350px;
  z-index: 2;
  opacity: calc(.7);
}

.img3{
  z-index: 1;
  width: 300px;
  position: absolute;
}

.img4{
  position: relative;
  margin-bottom: 100px;

}
.div4{
  width: 100%;
  height: 200px;
  position: absolute;
}

.div4{
  background-image: url(images/waves.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100px;
}

.div5{
  margin-top: 150px;
  background-image: url(images/second_section_.png);
  padding: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.div5 .first{
  position: absolute;
  top: 0;
  left: 100px;
}
.div5 .first h5{
  margin-left: 50px;
  margin-bottom: 5px;
}

.div5 .second{
  position: absolute;
  top: 300px;
  right:450px ;
  transform: rotateY('20deg');
}
.div5 .second h5{
  margin-left: 90px;
  margin-bottom: 5px;
}

.div5 .third{
  position: absolute;
  bottom: -200px;
  right: 100px;

}

.div5 .third h5{
  margin-left: 100px;
  margin-bottom: 5px;
}

.div5 .fourth{
  position: absolute;
  bottom: 0;
  left: 0;
  top: 500px;
}

.div5 .fourth  h1{
  position: absolute;
  bottom: 0px;
  left: 170px;
  color: #fff;

}
.div5 .fourth p{
  position: absolute;
  bottom:50px ;
  left:210px ;
  color: #fff;
}

.div6{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  margin-top: 100px;
}

.div6 .group{
  position: relative;
}
.div6 .group p{
  position: absolute;
  bottom: -40px;
  left: 190px;
  font-size: 20px;
  margin: 0;
}

.div6 .group h3{
  position: absolute;
  bottom: 50px;
  left: 190px;
  font-size: 22px;
}
.div6 .right-arrow  {
  color: #0a0a0a;
  font-size: 50px;
  margin-top: 150px;
}
.div6 .left-arrow{
color: #0a0a0a;
font-size: 50px;
margin-top: 150px;
}
/* footer */

footer{
  overflow: hidden;
  position: relative;
  height: 600px;
  margin-bottom: -200px;

  
}

footer .footer-img{
position: absolute;
width: 130%;
height: 700px;
right: -120px;
bottom: -230px;
}

 footer .up-img{
  position: absolute;
  width: 500px;
  bottom: 0;
  right: 150px;
 }

 .play{
  display: flex; 
  align-items: center;
  padding: 10px;
 }

 .play .google , .apple{
  width: 130px;
  height: 40px;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 20px;
  background-color: #fff;
  position: absolute;
  bottom: 100px;
  left: 80px;
 }

 .play .apple{
  position: absolute;
  bottom: 100px;
  left: 250px;
 } 
 .icons{
  display: flex;
 }

 .icons img{
  width: 25px;
  height: 25px;
  position: absolute;
  border-radius: 50px;
  border: gray;
 }
 .icons .icon1{
  bottom: 75px;
  left: 100px;
 }

 .icons .icon2{
  bottom: 75px;
  left: 150px;
 }
 .icons .icon3{
  bottom: 75px;
  left: 200px;
 }

 .nav-foot ul{
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 95px;
 }
 .nav-foot ul li{
  margin: 0 10px;
  font-size: 20px;
  list-style-type: none
 }
 .nav-foot ul li a{
  text-decoration: none;
  color: #fff;
  
 }